{namespace f=TYPO3\CMS\Fluid\ViewHelpers}
<pre>Resources/Private/Templates/Onepage/Render.html</pre>
v5

<div class="onepage">
    <f:if condition="{sections}">
        <f:for each="{sections}" as="section">
            <section id="{section.anchor}">
                <header class="onepage-section-header">
                    <h2>
                        <f:if condition="{section.nav_title}">
                            <f:then>{section.nav_title}</f:then>
                            <f:else>{section.title}</f:else>
                        </f:if>
                    </h2>
                </header>

                <div class="onepage-section-content">
                    <f:for each="{section.contentUids}" as="uid">
                        <f:cObject typoscriptObjectPath="lib.onepage_renderContentByUid" data="{uid: uid}" />
                    </f:for>
                </div>
            </section>
        </f:for>
    </f:if>
</div>
